* {
	font-family: sans-serif;
	box-sizing: border-box;
}
.header > div {
	min-height: 120px;
	padding: 32px 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
    margin: auto;
}
.logo {
	font-size: 32px;
	font-weight: 300;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: space-between;
	max-width: 1400px;
	margin: auto;
}
.slot {
	display: inline-flex;
	flex-direction: column;
	flex: 1;
	min-width: 250px;
	min-height: calc(100vh - 120px);
	border-radius: 3px;
	background: #ececec;
	cursor: pointer;
	padding: 8px;
	margin: 8px;
	box-sizing: border-box;
}
.slot .title {
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	width: 100%;
	color: #333;
	box-sizing: border-box;
	margin-bottom: 8px;
}
.card {
	width: 100%;
	height: 100px;
	padding: 8px;
	background-color: #ffffff;
	border-radius: 3px;
	cursor: move;
	transition: 0.3s;
	box-sizing: border-box;
	margin-bottom: 8px;
}
.card.dragging {
	display: none;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card .priority-bar {
	display: inline-block;
	width: 48px;
	height: 8px;
	border-radius: 8px;
	background: #85e89d;
	margin-bottom: 8px; 
}
.priority-bar[priority='low'] {
	background: #ffdf5d;
}
.priority-bar[priority='high'] {
	background: #f66a0a;
}
.priority-bar[priority='critical'] {
	background: #e34c26
}
.card-title {
	font-size: 14px;
	padding: 8px 0;	
}

.date-container {
	display: flex;
	align-items: center;
}
.date-container .material-icons {
	color: grey;
	font-size: 14px;
}
.due-date {
	margin-left: 6px;
	font-size: 12px;
	color: grey;
}
.actions {
	display: flex;
	justify-content: space-between;
}
.button-container {
	display: inline-block;
}
.button {
	background-color: #06c;
	padding: 8px 16px;
	border: none;
	outline: none;
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	transition: 0.3s all;
}
.button:focus {
	outline: none;
}
.button:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn-icon {
	margin-right: 6px;
	font-size: 16px;
}
.button.grey {
	background-color: #ececec;
	color: #333;
}

.modal-bg {
	display: none;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.3s all ease-in-out;
	opacity: 0;
	visibility: hidden;
}
body[modal-open] {
	height: 100vh;
	overflow: hidden;
}
body[modal-open] .modal-bg {
	opacity: 1;
	visibility: visible;
}
.modal-wrapper {
	position: relative;
	width: auto;
	height: auto;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px;
	width: 96%;
	max-width: 500px;
}
.modal-title {
	font-size: 22px;
	margin-bottom: 16px;
	font-weight: normal;
}
.modal-close {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	cursor: pointer;
}
.task-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input-group {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 16px;
	width: 100%;
}
.input-group.half {
	width: 48%;
}
.input-group label{
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 8px;
}
.input-group input, .input-group select {
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	min-height: 40px;
	padding: 8px;
	font-size: 14px;
	outline: none;
	color: #848484;
}
.input-group input:focus, .input-group select:focus {
	outline: none;
}
.button-group {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 16px;
	margin-top: 16px
}
.button-group .button {
	margin-left: 16px;
}



